.catalogs {
  background-color: #323133;
}
.catalogs li a {
  color: white;
  text-transform: capitalize;
}
.catalogs li a:hover {
  text-decoration: none;
}

.lowest-price {
  font-size: 2rem;
  color: #ff0001;
}

.grid-patterns button {
  background-color: transparent;
}

.switcher {
  margin-left: 0 !important;
}
.switcher li {
  padding-left: 0 !important;
}
.switcher .uk-active a {
  background-color: #323133 !important;
}
.switcher-title {
  line-height: 25px !important;
  padding: 10px 30px !important;
  letter-spacing: 2px;
  font-size: 1.1rem !important;
}
.switcher-title i {
  line-height: 30px;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .red {
  border: 1px solid black;
}
input[type=radio]:checked + label .orange {
  border: 1px solid black;
}
input[type=radio]:checked + label .yellow {
  border: 1px solid black;
}
input[type=radio]:checked + label .olive {
  border: 1px solid black;
}
input[type=radio]:checked + label .green {
  border: 1px solid black;
}
input[type=radio]:checked + label .teal {
  border: 1px solid black;
}
input[type=radio]:checked + label .blue {
  border: 1px solid black;
}
input[type=radio]:checked + label .violet {
  border: 1px solid black;
}
input[type=radio]:checked + label .purple {
  border: 1px solid black;
}
input[type=radio]:checked + label .pink {
  border: 1px solid black;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #db2828;
}
label span.orange {
  background: #f2711c;
}
label span.yellow {
  background: #fbbd08;
}
label span.olive {
  background: #b5cc18;
}
label span.green {
  background: #21ba45;
}
label span.teal {
  background: #00b5ad;
}
label span.blue {
  background: #2185d0;
}
label span.violet {
  background: #6435c9;
}
label span.purple {
  background: #a333c8;
}
label span.pink {
  background: #e03997;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}/*# sourceMappingURL=style.css.map */